<div class="c3bdfd4ac2" style="--bui_box_spaced_padding--s: 0;">
    <h3 class="e7addce19e f531cf0753">About this property</h3>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <p data-testid="property-description" class="b99b6ef58f f1152bae71"><b>Comfortable Accommodations:</b> Hotel Auster
        echo in Cox's Bazar offers family rooms with sea, mountain, and city views. Each room includes air-conditioning,
        a balcony, private bathroom, and free toiletries.

        <b>Essential Facilities:</b> Guests enjoy a restaurant and free WiFi. The hotel features a 24-hour front desk,
        free on-site private parking, and a seating area. Additional amenities include a TV, sofa, and free toiletries.

        <b>Prime Location:</b> Located 1.9 mi from Cox's Bazar Airport, the hotel is a 5-minute walk from Cox's Bazar
        Sea Beach. Nearby attractions include Marcentile Bank and Cox's Bazar Sea Beach.

        <b>Guest Favorites:</b> Guests appreciate the convenient location, attentive staff, and excellent service
        support.
    </p>
    <div></div>
    <p data-testid="PropertyDescriptionOsmDisclaimer" class="fff1944c52 fb14de7f14">Distance in property description is
        calculated using © OpenStreetMap</p>
</div>